<!-- Classic template driven form -->
<form #f="ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            <div *ngIf="title?.errors.required"> Title is required </div>
        </div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price?.errors.min"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" ngModel name="category" id="category" type="text" class="form-control" required>
            <option *ngFor="let c of categories$ | async" [value]="c.$key"> {{c.name}} </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid"> Category is required </div>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid"> Image URL is required </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
