<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" routerLink="/">Organic Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
            </li>
            <ng-template #anonymusUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ng-template>
            <!-- Usando el pipe async para recibir el usuario, si resuelve null, se hace un else, sintaxis de un
            ngIf y renderizando un bloque dentro de un ng-template apuntando con una referencia local -->
            <!-- <li *ngIf="authService.appUser$ | async as user; else anonymusUser" class="nav-item dropdown" ngbDropdown> -->
            <li *ngIf="appUser; else anonymusUser" class="nav-item dropdown" ngbDropdown>
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{ appUser.name }}</a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/my/orders">My orders</a>
                    <a class="dropdown-item" *ngIf="appUser.isAdmin" routerLink="/admin/orders">Manage orders</a>
                    <a class="dropdown-item" *ngIf="appUser.isAdmin" routerLink="/admin/products">Manage products</a>
                    <a class="dropdown-item" (click)="onLogout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
